/*
==================
IMPORTS
==================  
*/
@import url(//fonts.googleapis.com/css?family=Rosario:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
/*
==================
VARIABLES
==================  
*/
/*
==================
EXTENDS
==================  
*/
h1, h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: .5em;
}

/*
==================
ANIMATIONS
==================  
*/
@-webkit-keyframes coloriffic {
  0%,
  100% {
    color: #551a8b;
  }
  20% {
    color: #c00;
  }
  40% {
    color: #0ff;
  }
  60% {
    color: #f00f00;
  }
  80% {
    color: #f0ff32;
  }
}
@-moz-keyframes coloriffic {
  0%,
  100% {
    color: #551a8b;
  }
  20% {
    color: #c00;
  }
  40% {
    color: #0ff;
  }
  60% {
    color: #f00f00;
  }
  80% {
    color: #f0ff32;
  }
}
@-o-keyframes coloriffic {
  0%,
  100% {
    color: #551a8b;
  }
  20% {
    color: #c00;
  }
  40% {
    color: #0ff;
  }
  60% {
    color: #f00f00;
  }
  80% {
    color: #f0ff32;
  }
}
@keyframes coloriffic {
  0%,
  100% {
    color: #551a8b;
  }
  20% {
    color: #c00;
  }
  40% {
    color: #0ff;
  }
  60% {
    color: #f00f00;
  }
  80% {
    color: #f0ff32;
  }
}
@-webkit-keyframes fontbulge {
  0%,
  100% {
    font-size: 2em;
  }
  50% {
    font-size: 2.25em;
  }
}
@-moz-keyframes fontbulge {
  0%,
  100% {
    font-size: 2em;
  }
  50% {
    font-size: 2.25em;
  }
}
@-o-keyframes fontbulge {
  0%,
  100% {
    font-size: 2em;
  }
  50% {
    font-size: 2.25em;
  }
}
@keyframes fontbulge {
  0%,
  100% {
    font-size: 2em;
  }
  50% {
    font-size: 2.25em;
  }
}
@-webkit-keyframes spinning {
  from {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@-moz-keyframes spinning {
  from {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@-o-keyframes spinning {
  from {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
@keyframes spinning {
  from {
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
/*
==================
DEFAULTS
==================  
*/
body {
  padding: 2em;
  font: 16px Rosario, sans-serif;
}

img {
  display: block;
}

h1 {
  font-size: 3em;
  text-align: right;
  letter-spacing: 0.25em;
}

h2 {
  font-size: 2em;
}

a {
  display: inline-block;
  color: teal;
  text-decoration: none;
}

p {
  margin: 0.5em 0;
}
p a {
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
p a:hover {
  padding: 0 1em;
  color: #fff;
  background-color: teal;
}

/*
==================
LAYOUT
==================  
*/
article[role="profile"] h2 {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
article[role="profile"] h2:hover {
  letter-spacing: .25em;
  color: #551a8b;
}

.vitals li {
  font-size: 1.75em;
  font-family: Helvetica, Verdana, sans-serif;
  overflow: hidden;
}
.vitals li a {
  display: block;
  position: relative;
}
.vitals li a:after {
  font-size: 0.5em;
  position: absolute;
  left: -10em;
  background: transparent;
  padding: 0.25em 1.5em;
  margin-top: 0.25em;
  background: teal;
  color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.vitals li a:hover:after {
  left: 3em;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-animation: spinning 0.5s ease-in-out;
  -webkit-animation: spinning 0.5s ease-in-out;
  animation: spinning 0.5s ease-in-out;
}
.vitals li a.twitter:after {
  content: "Twitter";
}
.vitals li a.facebook:after {
  content: "Facebook";
}
.vitals li a.play:after {
  content: "Playstore";
}
.vitals li a.codepen:after {
  content: "Codepen";
}
.vitals li a.github:after {
  content: "GitHub";
}
.vitals li a.location:after {
  content: "Pasig, PH";
}

.jhun {
  float: right;
  margin-left: 1.5em;
  display: inline-block;
  cursor: pointer;
  border: 1em solid #dcdcdc;
  position: relative;
  overflow: hidden;
  background-color: #dcdcdc;
  z-index: 25;
}
.jhun:before {
  content: "Woke up like this";
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  position: absolute;
  top: 1em;
  left: 0;
  width: 100%;
}
.jhun:after {
  content: "Deal with it!";
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-animation: fontbulge 0.5s ease-in infinite, coloriffic 0.5s ease-in infinite;
  -webkit-animation: fontbulge 0.5s ease-in infinite, coloriffic 0.5s ease-in infinite;
  animation: fontbulge 0.5s ease-in infinite, coloriffic 0.5s ease-in infinite;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.jhun:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
